<h4>CONTACT INFO</h4> 
<div>
    <table>
        <tr>
            <td>
                <div class="col-sm-4 col-lg-3">
                    <img class="img-fluid rounded" src="assets/images/email.png" alt="email address" placement="right" ngbTooltip="Email Address">
                </div>
            </td>
            <td>
                <a href="mailto:ozanseckin@outlook.com">ozanseckin@outlook.com</a>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <div class="col-sm-4 col-lg-3">
                    <img class="img-fluid rounded" src="assets/images/phone.png" alt="phone" placement="right" ngbTooltip="Phone Number">
                </div>
            </td>
            <td>
                <a href="tel:+905552621822">+90 555 262 18 22</a>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <div class="col-sm-4 col-lg-3">
                    <img class="img-fluid rounded" src="assets/images/address2.png" alt="home address" placement="right" ngbTooltip="Home Address">
                </div>
            </td>
            <td>
                <!--The div element for the map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1502.765323982787!2d29.003738341381943!3d41.12294050861704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5b3c1005341%3A0x63e2c63aa6c4279f!2zQXlhemHEn2EsIDE5My4gU2suLCAzNDM5NiBTYXLEsXllci_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1641458350590!5m2!1str!2str" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </td>
        </tr>
    </table>
</div>